<!DOCTYPE html>
<html lang="fr">
<head>
    <% include includes/includes %>
</head>
<body>
<% include includes/header.ejs %>

<div class="container-fluid">
    <div class="row-fluid">
        <% include includes/voirie-panel.ejs %>

        <div class="span6 well well-small">
            <h2>Merci !</h2>

            <p>Votre demande a bien été prise en compte.</p>

            <p style="display: none">
                <a class="btn btn-large"
                   href="https://guichet.paris.fr/crm/jsp/site/Portal.jsp?page=myluteceusergu&action=createAccount&back_url=https%3A%2F%2Fguichet.paris.fr%2Fcrm%2Fjsp%2Fsite%2FPortal.jsp%3Fpage_id%3D1">S'inscrire</a>
            </p>
        </div>
    </div>
    <p>&nbsp;</p>
</div>
<% include includes/footer %>
</body>
</html>