<!DOCTYPE html>
<html lang="fr">
<head>
    <% include includes/includes %>
</head>
<body>
<% include includes/header.ejs %>

<!-- container -->
<div class="container">
    <div class="wrapper">


        <div class="row-fluid">
            <div class="span12">

                <div class="portlet ">
                    <h3>Accéder à votre compte</h3>

                    <div class="row-fluid">
                        <div class="span5">
                            <img title="Main sur formulaire" src="/Guichet%20Parisiens%20-%20accueil_files/main.jpg"
                                 alt="©Sophie Robichon/Mairie de Paris" width="400" height="305">
                        </div>
                        <div class="span6 well well-small">
                            <h2>Votre inscription est confirmée :</h2>
                            <p>Pour votre enfant <strong><%= informationsCantine.prenomEnfant + ' '+ informationsCantine.nomEnfant%></strong>,
                                le montant à régler pour un repas de cantine sera de <span style="text-decoration:underline"><strong>3.64 euros</strong></span>.</p>
                            <p><em>Pour information, votre revenu fiscal utilisé pour calculer le montant du règlement est de <%= data %> euros.
                            Cette information provient directement de l'administration fiscale.</em></p>
                            <p><em>Pour information, votre adresse est 20 rue Desaix, 75015 Paris. Cette information provient directement d'EDF.</em></p>
                            <p><em>Pour information, votre RIB est 400052105410334165. Cette information provient directement de l'assurance maladie.</em></p>
                            <p>
                                <a href="/data/fin-demarche" class="btn btn-large">Valider</a>
                            </p>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                </div>

            </div>
        </div>
        <% include includes/voirie-panel.ejs %>
    </div>
</div>
<% include includes/footer %>
</body>
</html>
