<!DOCTYPE html>
<html lang="fr">
<head>
    <% include includes/includes %>
</head>
<body>
<% include includes/header.ejs %>

<!-- container -->
<div class="container">
    <div class="wrapper">


        <div class="row-fluid">
            <div class="span12">
                <div class="portlet ">
                    <ul class="nav nav-tabs hidden-phone hidden-tablet">
                        <li class="active">
                            <a class="tb" href="https://guichet.paris.fr/crm/jsp/site/Portal.jsp">Accueil</a>
                        </li>
                        <li>
                            <a class="tb" href="https://guichet.paris.fr/crm/jsp/site/Portal.jsp?page=crm#panel2">Mes
                                demandes</a>
                        </li>
                        <li>
                            <a class="tb" href="https://guichet.paris.fr/crm/jsp/site/Portal.jsp?page=crm#panel3">Mes
                                brouillons</a>
                        </li>
                        <li>
                            <a class="tb" href="https://guichet.paris.fr/crm/jsp/site/Portal.jsp?page=crm#panel4">Mon
                                compte</a>
                        </li>
                    </ul>
                </div>

                <div class="portlet ">
                    <h3>Accéder à votre compte</h3>

                    <div class="row-fluid">
                        <div class="span5">
                            <img title="Main sur formulaire" src="/Guichet%20Parisiens%20-%20accueil_files/main.jpg"
                                 alt="©Sophie Robichon/Mairie de Paris" width="400" height="305">
                        </div>
                        <div class="span6 well well-small">
                            <form class="form-horizontal" method="POST" id="crecheForm">
                                <fieldset>

                                    <!-- Form Name -->
                                    <legend>Vérifiez et complétez les informations suivantes :*</legend>

                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="textinput-0">Nom</label>

                                        <div class="controls">
                                            <input id="textinput-0" name="textinput-0" type="text" placeholder=""
                                                   class="input-large" disabled value="<%= userInfo.name.familyName %>">

                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="textinput-1">Prénom</label>

                                        <div class="controls">
                                            <input id="textinput-1" name="textinput-1" type="text" placeholder=""
                                                   class="input-large" disabled value="<%= userInfo.name.givenName %>">

                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="nomEnfant">Nom de votre enfant</label>

                                        <div class="controls">
                                            <input id="nomEnfant" name="nomEnfant" type="text" placeholder=""
                                                   class="input-large">

                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="prenomEnfant">Prénom de votre enfant</label>

                                        <div class="controls">
                                            <input id="prenomEnfant" name="prenomEnfant" type="text" placeholder=""
                                                   class="input-large">

                                        </div>
                                    </div>

                                </fieldset>
                                <input type="submit" value="Confirmer" class="btn btn-large"> <br/>
                                <span style="text-size:8px">* Vous allez ensuite être redirigé vers une page qui va vous montrer les données auxquelles va accéder le service pour compléter votre demande. Nous aurons besoin de votre consentement.</span>
                            </form>
                            <!--<a class="btn btn-large"-->
                            <!--href="#" id="getData" onclick="function(e){e.preventDefault();$('#crecheForm').submit();">Confirmer</a>-->

                            <p style="display: none">
                                <a class="btn btn-large"
                                   href="https://guichet.paris.fr/crm/jsp/site/Portal.jsp?page=myluteceusergu&action=createAccount&back_url=https%3A%2F%2Fguichet.paris.fr%2Fcrm%2Fjsp%2Fsite%2FPortal.jsp%3Fpage_id%3D1">S'inscrire</a>
                            </p>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                </div>

            </div>
        </div>
        <div class="row-fluid">
            <div class="portlet span4">
                <div class="well well-gu">
                    <h4>Voirie</h4>
                    <ul class="unstyled">
                        <li>
                            <a class="label-demand" target="_self"
                               href="https://guichet.paris.fr/crm/cartes-de-stationnement-residentiel.html">Demande de
                                carte de stationnement résidentiel ou de carte véhicule électrique</a>
<span class="badge badge-warning pull-right">
<a title="L&#39;accès à ce téléservice nécessite un compte de connexion " data-toggle="tooltip" class="tooltips"
   href="https://guichet.paris.fr/crm/#">
    <i class="icon-lock icon-white">&nbsp;</i>
</a>
</span>
                        </li>
                        <li>
                            <a class="label-demand" target="_self"
                               href="https://guichet.paris.fr/crm/autorisation-pour-un-demenagement.html">Autorisation
                                pour un déménagement</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row-fluid">

        </div>
        <div class="row-fluid">

        </div>


    </div>
</div>
<% include includes/footer %>
</body>
</html>