<% include includes/header.ejs %>
<div class="row-fluid">
    <% include includes/voirie-panel.ejs %>
    <div class="span6 well well-small">
        <h2>Votre inscription est confirmée :</h2>

        <h4 style="color: black">Pour votre enfant
            <strong><%= informationsCantine.prenomEnfant + ' ' + informationsCantine.nomEnfant %></strong>,
            le montant à régler pour un repas de cantine sera de <span
                    style="text-decoration:underline"><strong>3.64 euros</strong></span>.</h4>

        <p><em>Pour information, votre revenu fiscal utilisé pour calculer le montant du règlement est
                de <%= data %> euros.
                Cette information provient directement de l'administration fiscale.</em></p>

        <p><em>Pour information, votre adresse est 20 rue Desaix, 75015 Paris. Cette information provient
                directement d'EDF.</em></p>

        <p><em>Pour information, votre attestation de droit provient directement de
                l'assurance maladie.</em></p>

        <p>
            <a href="/data/fin-demarche" class="btn btn-large">Valider</a>
        </p>
    </div>
</div>
<% include includes/footer %>
