<html>
<body>
<p>Redirection vers la page d'accueil...</p>
</body>
<script type="text/javascript">
    function inIframe() {
        try {
            return window.self !== window.top;
        } catch (e) {
            return true;
        }
    }
    var url = '<%= urlRedirect %>';
    if (inIframe()) {
        parent.postMessage(url, '*');
    } else {
        this.window.location.href = url
    }
</script>
</html>