body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 40px;
}

a {
  color: #00B7FF;
}

#wrapper {
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  width: 970px;
}