/* ====================================================================
 * styles for the jcaptcha integrations
 * -------------------------------------------------------------------- */

span.captcha-additionnal-info {font-style: italic;}
div.captcha-element {  margin-bottom: 10px;  margin-top: 10px;  clear: both;}
span.captcha-label {float: left ;width: 50%;text-align: right;padding-right: 5px;}
span.captcha-field {text-align: left ;}
span.captcha-field a:link {text-decoration: none;}
span.captcha-field a:hover {text-decoration: none;}
span.captcha-field a img {border :none;}
span.sound {vertical-align: 30%;}
span.reloaded {vertical-align: 60%;}
div#page-content span.double-point {margin-left: 15px;}
div#page-content span.captcha-mandatory {position: relative;top: 0px;right: 20px;float: right;}
fieldset.formengine-fieldset span.captcha-mandatory {	color: #FF0000;}
.jchp, .control-group .controls .jchp{display: none !important;}
#j_captcha_response{margin-bottom:0 !important;}
.jcaptchaframe{border:none;min-height:70px;margin:5px 0;width:300px;height:70px;}
