body {
    width: 100%;
    padding: 0px;
}

/* Banner styles */
#banner {
    background: none repeat scroll 0 0 #11ABC5;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

/* FOOTER STYLES */
.footer {
    background: #34D1C6;
    background: #1A99AC;
    padding: 20px;
    margin-top: 40px;
    width: 100%;
}

.footer h3 {
    color: white;
}

ul.social {
    list-style: none outside none;
    margin: 0;
    color: black;
}

.social {
    padding-bottom: 50px;
}

ul.social li {
    display: inline;
    float: left;
    margin-right: 7px;
}

.contact {
    font-size: 13px;
    margin-right: 10px;
}

.credits {
    font-size: 13px;
}

/* END FOOTER */

/* FORM-HORIZONTAL */
.form-horizontal .control-label {
    width: 160px;
}

.form-horizontal .controls {
    margin-left: 180px;
}

/* Nav navtabs */
.nav-tabs > li > a {
    font-size: 150%;
}

.well h1 h2 h3 h4 {
    color: #000000;
}

.container-fluid {
    padding-left: 0px;
}

.row-fluid {
    padding-left: 10px;
    padding-right: 10px;
}