body {
    width: 100%;
    padding: 0px;
    font-size: large;
}

/* Banner styles */
#banner {
    background: none repeat scroll 0 0 #11ABC5;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.well-gu {
    background-color: #1A9CAF;
    color: #fff;
    padding: 0px;
    -webkit-box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.46);
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.46);
}

.well-gu h4 {
    border-bottom: 2px dotted #fff;
    background-color: #fff;
    color: #000;
    padding: 10px 10px;
    margin: 0;
}

.well-gu ul {
    padding: 10px;
}

.well-gu ul li {
    border-bottom: 2px dotted #fff;
    padding: 5px 0 5px 15px;
    color: white;
}

.well-gu ul li a {
    color: white;
}

/* FOOTER STYLES */
.footer {
    background: #34D1C6;
    background: #1A99AC;
    padding: 20px;
    margin-top: 40px;
    width: 100%;
    font-size: medium;
}

.footer h3 {
    color: white;
}

ul.social {
    list-style: none outside none;
    margin: 0;
    color: black;
}

.social {
    padding-bottom: 50px;
}

ul.social li {
    display: inline;
    float: left;
    margin-right: 7px;
}

.contact {
    font-size: 13px;
    margin-right: 10px;
}

.credits {
    font-size: 13px;
}

/* END FOOTER */

/* FORM-HORIZONTAL */
.form-horizontal .control-label {
    width: 160px;
}

.form-horizontal .controls {
    margin-left: 180px;
}

/* Nav navtabs */
.nav-tabs > li > a {
    font-size: 150%;
}

.well h1 h2 h3 h4 {
    color: #000000;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.row-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.span3, .span1, .span2, .span8 {
    padding: 10px;
}