<footer>
    <div class="row">
        <div class="span12 pagination-centered">
            <a href="https://guichet.paris.fr/crm/jsp/site/Portal.jsp#top" class="btn btn-top" title="Top">
                <i class="icon-chevron-up icon-white"></i>
            </a>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <a class="btn-paris" target="_blank" href="http://www.paris.fr/"></a>
                </div>
                <div class="span3">
                    <h2>Réseaux sociaux</h2>
                    <ul class="social">
                        <li>
                            <a target="_blank" title="Facebook" href="http://www.facebook.com/Paris" class="fb"></a>
                        </li>
                        <li>
                            <a target="_blank" title="Twitter" href="https://twitter.com/Paris" class="twt"></a>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <h2>Infos</h2>
                    <ul class="social">
                        <li><a class="contact pull-right" target="_blank"
                               href="http://www.paris.fr/contacts/formulaires-de-contacts/posez-vos-questions-sur-le-teleservice-de-demande-de-carte-de-stationnement/rub_5722_actu_137002_port_26279">Contactez
                                nous</a></li>
                        <li><a class="credits pull-right" target="_blank"
                               href="http://www.paris.fr/infos_editeur/infos-editeur/donnees-personnelles/rub_5005_stand_10966_port_10757">Mentions
                                légales</a></li>
                        <li><a class="credits pull-right"
                               href="https://guichet.paris.fr/crm/jsp/site/Portal.jsp?page=helpdesk&faq_id=1"
                               target="_blank">Foire aux questions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="fc_login_popin" style="display: none">
    <iframe src="/login_org" style="width: 500px; height: 600px;"></iframe>
</div>

<!-- listener on login success postMessage from popin -->
<script type="text/javascript">
    addEventListener("message", receiveMessage, false);
    function receiveMessage(event) {
        window.location.href = '/demarche/etape1';
    }
</script>

<!-- Add fancyBox -->
<script type="text/javascript" src="/javascripts/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
            closeBtn: '<a title="Close" class="fancybox-item fancybox-close" href="javascript:;"></a>',
            openEffect: 'none',
            closeEffect: 'none',
            nextEffect: 'none',
            prevEffect: 'none',
            padding: 0,
            margin: [20, 60, 20, 60] // Increase left/right margin
        });
    });
</script>
