<a href="" id="top"></a>
<header role="banner">
    <div id="banner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <a href="http://www.paris.fr/">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="span5 hidden-phone">
                    <h1>
                        <a href="https://guichet.paris.fr/crm/accueil.html">GUICHET DES PARISIENS</a>
                    </h1>
                </div>
                <div class="hidden-phone hidden-tablet">
                    <% if (user) { %>
                    <div class="span7">
                    <span class="span2 pull-right" style="font-size: 16px; font-weight: bold; color: #EEE;">Merci de vous être identifié,
                        <%= user %>. <br/>
                        <button class="btn btn-default" onclick="window.location = '/logout'">Se
                            déconnecter
                        </button>
                    </span>
                    </div>
                    <% } else { %>
                    <div class="span7">
				    <span class="span2 pull-right">
                        <a class="btn btn-large fancybox" rel="group" href="#fc_login_popin" scrolling="auto"
                           modal="true" autoHeight="false" autoSize="false" width="500px" height="750px"><img
                                    src="/images/logoFC.png" style="height:20px"/></a>
                    </span>
                    </div>
                    <% } %>
                </div>
                <div class="span12 hidden-desktop pagination-centered">
                    <h4 style="color:#fff;">GUICHET DES PARISIENS</h4>
				    <span class="span2 pull-right">
                        <a class="btn btn-large" href="/login_org">
                            <img src="/images/logoFC.png" style="height:20px"/>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fc_login_popin" style="display: none">
</div>

<!-- listener on login success postMessage from popin -->
<script type="text/javascript">
    addEventListener("message", receiveMessage, false);
    function receiveMessage(event) {
        $("#fc_login_popin").hide();
        window.location.href = '/demarche/etape1';
    }
</script>

<!-- Add fancyBox -->
<script type="text/javascript" src="/javascripts/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
            closeBtn: '<a title="Close" class="fancybox-item fancybox-close" href="javascript:;"></a>',
            openEffect: 'none',
            closeEffect: 'none',
            nextEffect: 'none',
            prevEffect: 'none',
            padding: 0,
            margin: [20, 60, 20, 60],
            afterLoad: function () {
                // l'iframe ne doit être insérée dans le DOM que quand l'utilisateur choisit de se connecter, sinon la mécanique de connexion se lance en tâche de fond
                this.content = this.content.html() + '<iframe src="/login_org" style="width: 500px; height: 600px;"></iframe>';
            }
        });
    });
</script>



