<footer>
    <div class="row">
        <div class="span12 pagination-centered">
            <a href="https://guichet.paris.fr/crm/jsp/site/Portal.jsp#top" class="btn btn-top" title="Top">
                <i class="icon-chevron-up icon-white"></i>
            </a>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <a class="btn-paris" target="_blank" href="http://www.paris.fr/"></a>
                </div>
                <div class="span3">
                    <h2>Réseaux sociaux</h2>
                    <ul class="social">
                        <li>
                            <a target="_blank" title="Facebook" href="http://www.facebook.com/Paris" class="fb"></a>
                        </li>
                        <li>
                            <a target="_blank" title="Twitter" href="https://twitter.com/Paris" class="twt"></a>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <h2>Infos</h2>
                    <ul class="social">
                        <li><a class="contact pull-right" target="_blank"
                               href="#">Contactez
                                nous</a></li>
                        <li><a class="credits pull-right" target="_blank"
                               href="#">Mentions
                                légales</a></li>
                        <li><a class="credits pull-right"
                               href="#"
                               target="_blank">Foire aux questions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
