<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <a class="btn-paris"></a>
                </div>
                <div class="span3">
                    <h2>Réseaux sociaux</h2>
                    <ul class="social">
                        <li>
                            <a title="Facebook" class="fb"></a>
                        </li>
                        <li>
                            <a title="Twitter" class="twt"></a>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <h2>Infos</h2>
                    <ul class="social">
                        <li><a class="contact pull-right">Contactez
                                nous</a></li>
                        <li><a class="credits pull-right">Mentions
                                légales</a></li>
                        <li><a class="credits pull-right">Foire aux questions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
