<div class="footer row-fluid">
    <div class="span6">
        <a class="btn-paris"></a>
    </div>
    <div class="span3">
        <h3>Réseaux sociaux</h3>
        <ul class="social">
            <li>Facebook</li>
            <li>Twitter</li>
        </ul>
    </div>
    <div class="span3">
        <h3>Infos</h3>
        <ul class="social">
            <li class="pull-right">Contactez nous</li>
            <li class="credits pull-right">Mentions
                légales
            </li>
            <li class="credits pull-right">Foire aux questions</li>
        </ul>
    </div>
</div>
</body>
</html>
