<div class="footer row-fluid">
    <div class="span3 offset2">
        <h3>Réseaux sociaux</h3>
        <ul class="social">
            <li class="credits pull-right"><a class="fb"></a></li>
            <li class="credits pull-right"><a class="twt"></a></li>
        </ul>
    </div>
    <div class="span2">
        <h3>Informations</h3>
        <ul class="social">
            <li class="credits pull-right">Contactez nous</li>
            <li class="credits pull-right">Mentions
                légales
            </li>
            <li class="credits pull-right">Foire aux questions</li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="<%= FCUrl %>/js/franceconnect.js"></script>
</body>
</html>
