<div class="footer row-fluid">
    <div class="span5">
        <a class="btn-paris"></a>
    </div>
    <div class="span3">
        <h3>Réseaux sociaux</h3>
        <ul class="social">
            <li class="credits pull-right">Facebook</li>
            <li class="credits pull-right">Twitter</li>
        </ul>
    </div>
    <div class="span2">
        <h3>Informations</h3>
        <ul class="social">
            <li class="credits pull-right">Contactez nous</li>
            <li class="credits pull-right">Mentions
                légales
            </li>
            <li class="credits pull-right">Foire aux questions</li>
        </ul>
    </div>
</div>
</body>
</html>
