<% include ./includes %>
<div class="container-fluid">
    <div id="banner" class="row-fluid">
        <div class="span1"></div>
        <div class="span3">
            <h2 style="color: white">GUICHET DES PARISIENS</h2>
        </div>
        <div class="span4"></div>
        <div class="span4">
            <% if (user) { %>
            <span class="span6" style="color:white">Merci de vous être identifié, <%= user %>.<br/>
                <button class="btn btn-default" onclick="window.location = '/logout'">Se déconnecter</button>
                <button class="btn btn-default" onclick="window.location = '/logout?force'">Se déconnecter sans
                    confirmation
                </button>
            </span>
            <% } else { %>
            <div class="span6">
                <a id="fc_login" class="connect" rel="group" href="/login_org">
                    Identifiez-vous
                    <img src="/images/fc_logo.png" class="connect-img" alt="se connecter avec FranceConnect" name="FranceConnect" width="44px"/>
                </a>
            </div>
            <% } %>
        </div>
    </div>

    <script type="text/javascript">
        var screenTabletWith = 767;
        $('#fc_login').click(function (event) {
            if ($(window).width() > screenTabletWith) {
                event.preventDefault();
                OpenPopupCenter(this.href, "FranceConnect_Identification", 500, 600);
            }
        });
    </script>