<% include ./includes %>
<div class="container-fluid">
    <div id="banner" class="row-fluid">
        <div class="span1"></div>
        <div class="span3">
            <h2 style="color: white">GUICHET DES PARISIENS</h2>
        </div>
        <div class="span3"></div>
        <div class="span4">
            <% if (user) { %>
                <div id="fconnect-profile" data-fc-logout-url="/logout">
                    <a href="#"><%= user %></a>
                </div>
                <button class="btn btn-default" onclick="window.location = '/logout?force'">Se déconnecter sans confirmation
                </button>
            <% } else { %>
            <div class="span6">
                <a id="fc_login" href="/login_org" class="btn btn-default" style="color: #0b6ba8; width: 182px" role="button">
                    <img src="/images/fc_logo.png" style="float:left; width: 38px" alt="se connecter avec FranceConnect"
                         name="FranceConnect"/>
                Identifiez-vous avec FranceConnect
                </a>
            </div>
            <% } %>
            <div class="logo-demo">DEMO</div>
        </div>
    </div>

    <script type="text/javascript">
        var screenTabletWith = 767;
        $('#fc_login').click(function (event) {
            if ($(window).width() > screenTabletWith) {
                event.preventDefault();
                OpenPopupCenter(this.href, "FranceConnect_Identification", 600, 600);
            }
        });
    </script>