<% include ./includes %>
<div class="container-fluid">
    <div id="banner" class="row-fluid">
        <div class="span1"></div>
        <div class="span3">
            <h2 style="color: white">GUICHET DES PARISIENS</h2>
        </div>
        <div class="span8 hidden-phone">
            <% if (user) { %>
            <span class="span3 offset5" style="color:white">Merci de vous être identifié, <%= user %>.<br/>
                <button class="btn btn-default" onclick="window.location = '/logout'">Se déconnecter</button>
            </span>
            <% } else { %>
            <div class="span4 offset5" style="color:white; text-align: right">
                <span>Identifiez-vous avec FranceConnect :</span>
                <br/>
                <a id="fc_login" class="btn btn-large fancybox" rel="group" href="/login_org" modal="true"
                   autoHeight="false" autoSize="false">
                    <img src="/images/logoFC.png" alt="connexion avec FranceConnect"/>
                </a>
            </div>
            <% } %>
        </div>
        <div class="span8 hidden-desktop hidden-tablet">
            <% if (user) { %>
            <div class="span" style="color:white">Merci de vous être identifié,
                <%= user %>. <br/>
                <button class="btn btn-default" onclick="window.location = '/logout'">Se
                    déconnecter
                </button>
            </div>
            <% } else { %>
            <div style="color:white">
                Identifiez-vous avec FranceConnect :<br/>
                <a id="fc_login" class="btn btn-large" href="/login_org" style="max-width: 220px">
                    <img src="/images/LogoFC-mini-180x37.png" alt="connexion avec FranceConnect"/>
                </a>
            </div>
            <% } %>
        </div>
    </div>

<div id="fc_login_popin" style="display: none">
</div>

<!-- listener on login success postMessage from popin -->
<script type="text/javascript">
    addEventListener("message", receiveMessage, false);
    function receiveMessage(event) {
        $("#fc_login_popin").hide();
        window.location.href = event.data;
    }
</script>

<!-- Add fancyBox -->
<script type="text/javascript" src="/javascripts/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
            closeBtn: '<a title="Close" class="fancybox-item fancybox-close" href="javascript:;"></a>',
            closeEffect: 'none',
            height: 600,
            margin: [20, 60, 20, 60],
            nextEffect: 'none',
            openEffect: 'none',
            padding: 0,
            prevEffect: 'none',
            type: 'iframe',
            width: 500,
            afterShow: function(){
                setTimeout($('.fancybox-iframe')[0].contentWindow.focus(), 100);
                return false;
            }
        });
    });
</script>