<% include ./includes %>
<div class="container-fluid">
    <div id="banner" class="row-fluid">
        <div class="span1"></div>
        <div class="span3">
            <h2 style="color: white">GUICHET DES PARISIENS</h2>
        </div>
        <div class="span4"></div>
        <div class="span4">
            <% if (user) { %>
            <span class="span6" style="color:white">Merci de vous être identifié, <%= user %>.<br/>
                <button class="btn btn-default" onclick="window.location = '/logout'">Se déconnecter</button>
            </span>
            <% } else { %>
            <div class="span6 connect">
                <span>Identifiez-vous avec FranceConnect :</span>
                <br/>
                <a id="fc_login" class="btn btn-large" rel="group" href="/login_org">
                    <img src="/images/logoFC.png" alt="connexion avec FranceConnect"/>
                </a>
            </div>
            <% } %>
        </div>
    </div>

<script type="text/javascript">
    var screenTabletWith = 767;
    $('#fc_login').click(function(event) {
        if ($(window).width() > screenTabletWith) {
            event.preventDefault();
            OpenPopupCenter(this.href, "FranceConnect_Identification", 500, 600);
        }
    });
</script>