<% include ./includes %>
<div class="container-fluid">
    <div id="banner">
        <div class="row-fluid">
            <div class="span11 offset1">
                <a href="#">
                    <img class="logo png_bg" src="/images/logo_nantes.png" title="Nantes" alt="Nantes">
                </a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 offset1">
                <h2 class="title"><a href="/">GUICHET DES NANTAIS</a></h2>
            </div>
            <div class="span4 offset3">
                <% if (user) { %>
                <div id="fconnect-profile" data-fc-logout-url="/logout">
                    <a href="#"><%= user %></a>
                </div>
                <% } %>
                <div class="logo-demo">DEMO</div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <h3 class="page-title span11 offset1"><%= title %></h3>
    </div>

    <script type="text/javascript">
        var screenTabletWith = 767;
        $('#fc_login').click(function (event) {
            if ($(window).width() > screenTabletWith) {
                event.preventDefault();
                OpenPopupCenter(this.href, "FranceConnect_Identification", 600, 600);
            }
        });
    </script>