<% include ./includes %>
<div class="container-fluid">
    <div id="banner" class="row-fluid">
        <div class="span1"></div>
        <div class="span3">
            <h2 style="color: white">GUICHET DES PARISIENS</h2>
        </div>
        <div class="span4"></div>
        <div class="span4">
            <% if (user) { %>
            <span class="span6" style="color:white">Merci de vous être identifié, <%= user %>.<br/>
                <button class="btn btn-default" onclick="window.location = '/logout'">Se déconnecter</button>
            </span>
            <% } else { %>
            <div class="span6 connect">
                <span>Identifiez-vous avec FranceConnect :</span>
                <br/>
                <a id="fc_login" class="btn btn-large" rel="group" href="/login_org" modal="true" autoHeight="false" autoSize="false">
                    <img src="/images/logoFC.png" alt="connexion avec FranceConnect"/>
                </a>
            </div>
            <% } %>
        </div>
    </div>

<div id="fc_login_popin" style="display: none">
</div>

<!-- listener on login success postMessage from popin -->
<script type="text/javascript">
    addEventListener("message", receiveMessage, false);
    function receiveMessage(event) {
        $("#fc_login_popin").hide();
        window.location.href = event.data;
    }
</script>

<!-- Add fancyBox -->
<script type="text/javascript" src="/javascripts/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var screenTabletWith = 767;
        $('#fc_login').click(function(event) {
            if ($(window).width() > screenTabletWith) {
                event.preventDefault();
                $.fancybox({
                    href: $(this).attr('href'),
                    closeBtn: '<a title="Close" class="fancybox-item fancybox-close" href="javascript:;"></a>',
                    closeEffect: 'none',
                    height: 600,
                    margin: [20, 60, 20, 60],
                    nextEffect: 'none',
                    openEffect: 'none',
                    padding: 0,
                    prevEffect: 'none',
                    type: 'iframe',
                    width: 500,
                    afterShow: function(){
                        setTimeout($('.fancybox-iframe')[0].contentWindow.focus(), 100);
                        return false;
                    }
                });
            }
        });
    });
</script>