<div class="span3 hidden-phone offset1">
    <img title="Main sur formulaire" src="/Guichet%20Parisiens%20-%20accueil_files/main.jpg"
         alt="©Sophie Robichon/Mairie de Paris" max-width="100%" style="margin-bottom: 20px"/>

    <div class="portlet panel">
        <div class="well well-gu">
            <h4>Exemples de démarches bientôt disponibles</h4>
            <ul class="unstyled">
                <li>
                    <a class="label-demand">Demande de
                        carte de stationnement résidentiel ou de carte véhicule électrique</a>
                </li>
                <li>
                    <a class="label-demand">Autorisation
                        pour un déménagement</a>
                </li>
            </ul>
        </div>
    </div>
</div>
